@model FinalClearance.Models.Programme

@{
    ViewData["Title"] = "Programme";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Programme</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProgramme">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Faculty" class="control-label"></label>
                <select id="facultyId" asp-for="Faculty.Id" class="form-control" asp-items="ViewBag.FacultyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <select id="departmentId" asp-for="Department.Id" class="form-control">
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

